/* Qanelas (regular) [400] */
@font-face {
  font-family: "Qanelas";
  font-style: normal;
  font-weight: 400;
  src: url("../../assets/fonts/qanelas-400-regular.woff") format("woff");
}

/* Qanelas (medium) [500] */
@font-face {
  font-family: "Qanelas";
  font-style: normal;
  font-weight: 500;
  src: url("../../assets/fonts/qanelas-500-medium.woff") format("woff");
}

/* Qanelas (semi-bold) [600] */
@font-face {
  font-family: "Qanelas";
  font-style: normal;
  font-weight: 600;
  src: url("../../assets/fonts/qanelas-600-semi-bold.woff") format("woff");
}

/* Qanelas (bold) [700] */
@font-face {
  font-family: "Qanelas";
  font-style: normal;
  font-weight: 700;
  src: url("../../assets/fonts/qanelas-700-bold.woff") format("woff");
}

/* Circular Std (bold) [700] */
@font-face {
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 700;
  src: url("../../assets/fonts/circular-std-700-bold.woff") format("woff");
}
